<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433

  *** For .NET 2.x:
  +++ enable
  system.web/httpModules
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">

  *** For .NET 3.x and above:
  +++ enable:
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
  -->
<configuration>
  <system.web>
    <httpRuntime requestValidationMode="2.0" executionTimeout="300" enableVersionHeader="false" maxRequestLength="104857600" />
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.6.1" />
    <sessionState mode="StateServer" stateConnectionString="tcpip=127.0.0.1:42424" cookieless="false" timeout="120" />
    <httpCookies httpOnlyCookies="true" requireSSL="true" />
    <!--sessionState mode="InProc" cookieless="false" timeout="20"/-->
    <!--customErrors mode="Off"/-->
    <customErrors mode="RemoteOnly" defaultRedirect="/error.html" />
    <!--httpModules>
      <add name="FwHttpModule" type="FwHttpModule"/>
    </httpModules-->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
  </system.web>
  <system.webServer>
    <!--modules runAllManagedModulesForAllRequests="true" //use for .net 2.0-->
    <modules>
      <add name="FwHttpModule" type="FwHttpModule" preCondition="managedHandler" />
    </modules>
    <!--validation validateIntegratedModeConfiguration="false"/ //for .net 4.x-->
    <directoryBrowse enabled="false" />
    <httpErrors errorMode="DetailedLocalOnly" />
    <httpProtocol>
       <customHeaders>
         <add name="X-Content-Type-Options" value="NOSNIFF" />
         <add name="X-Frame-Options" value="DENY" />
         <add name="X-Permitted-Cross-Domain-Policies" value="master-only" />
         <add name="X-XSS-Protection" value="1; mode=block" />
         <remove name="X-Powered-By" />
       </customHeaders>
    </httpProtocol>
    <staticContent>
      <clientCache cacheControlCustom="public" cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00" />
      <!-- all types necessary for HTML5 -->
      <!--mimeMap fileExtension=".mp4" mimeType="video/mp4" />
        <mimeMap fileExtension=".m4v" mimeType="video/m4v" />
        <mimeMap fileExtension=".ogg" mimeType="video/ogg" />
        <mimeMap fileExtension=".ogv" mimeType="video/ogg" />
        <mimeMap fileExtension=".webm" mimeType="video/webm" />

        <mimeMap fileExtension=".oga" mimeType="audio/ogg" />
        <mimeMap fileExtension=".spx" mimeType="audio/ogg" />

        <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
        <mimeMap fileExtension=".svgz" mimeType="image/svg+xml" />

        <remove fileExtension=".eot" />
        <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
        <mimeMap fileExtension=".otf" mimeType="font/otf" />
        <mimeMap fileExtension=".woff" mimeType="font/x-woff" /-->
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
    </staticContent>
    <rewrite>
       <rules>
          <rule name="HTTP to HTTPS redirect" stopProcessing="true">
            <match url="(.*)" />
            <conditions>
              <add input="{HTTP_HOST}" pattern="localhost" negate="true" ignoreCase="true" />
              <add input="{HTTPS}" pattern="off" ignoreCase="true" />
            </conditions>
            <action type="Redirect" redirectType="Permanent" url="https://{HTTP_HOST}/{R:1}" />
          </rule>
       </rules>
       <outboundRules>
         <rule name="Add HSTS Header" enabled="true">
           <match serverVariable="RESPONSE_Strict_Transport_Security" pattern=".*" />
           <conditions>
             <add input="{HTTPS}" pattern="on" ignoreCase="true" />
           </conditions>
           <action type="Rewrite" value="max-age=15768000" />
         </rule>
       </outboundRules>
    </rewrite>
  </system.webServer>
  <system.net>
    <mailSettings>
      <smtp from="admin@website.com">
        <network host="127.0.0.1" port="26" password="" userName="" />
      </smtp>
    </mailSettings>
  </system.net>
  <appSettings>
    <add key="SITE_VERSION" value="0.21.0804" />
    <add key="IS_SIGNUP" value="~boolean~False" />
    <add key="MAX_PAGE_ITEMS" value="~int~25" />
    <!--add key="ASSETS_URL" value="/assets"/-->
    <add key="UNLOGGED_DEFAULT_URL" value="/" />
    <add key="LOGGED_DEFAULT_URL" value="/Main" />
    <add key="PAGE_LAYOUT" value="/layout_fluid.html" /><!--default layout-->
    <add key="PAGE_LAYOUT_PUBLIC" value="/layout.html" /><!--default layout for pub pages -->
    <add key="PAGE_LAYOUT_STD" value="/layout.html" />
    <add key="PAGE_LAYOUT_FLUID" value="/layout_fluid.html" />
    <add key="PAGE_LAYOUT_PJAX" value="/layout_pjax.html" />
    <add key="PAGE_LAYOUT_MIN" value="/layout_min.html" />
    <add key="PAGE_LAYOUT_PRINT" value="/layout_print.html" />
    <add key="UPLOAD_DIR" value="/upload" />
    <!-- private uploads -->
    <!--add key="UPLOAD_DIR" value="/App_Data/upload"/-->
    <add key="lang" value="en" />
    <add key="is_lang_update" value="~boolean~False" />
    <add key="log_level" value="INFO" /><!--ALL|TRACE|DEBUG|INFO|WARN|ERROR|FATAL|OFF-->
    <add key="log_sentry" value="https://sentry_enpoint" />
    <add key="is_test" value="~boolean~False" />
    <!-- url => minimum required Access levels for Controllers. if set here - overrides Controller.access_level 0 - user must be logged in, 100 - admin user -->
    <add key="access_levels|/Main" value="0" />
    <!-- Controllers without need for XSS check -->
    <add key="no_xss|Login" value="1" />
    <add key="no_xss|SysBackup" value="1" />
    <!-- prefixes used so Dispatcher will know that url starts not with a full controller name, but with a prefix, need to be added to controller name -->
    <add key="route_prefixes|/Sys" value="1" />
    <add key="route_prefixes|/Admin" value="1" />
    <add key="route_prefixes|/My" value="1" />
    <add key="route_prefixes|/Dev" value="1" />
    <!-- special routes -->
    <add key="routes|/Logoff" value="DELETE /Login/1" /><!--Logoff-->
    <add key="routes|/aaa/bbb/ccc" value="controller" /><!--controller::Index to work on this route-->
    <add key="routes|/aaa/bbb/ddd" value="controller::action" /><!--particular controller action to work with this uri-->
    <add key="routes|/aaa/bbb/eee" value="/xxx/yyy" /><!--internal route redirect-->
    <!-- route samples -->
    <add key="routes|/test/test/a" value="Main::Index" /><!--route rewrite directly to controller::action-->
    <add key="routes|/test/test/b" value="Main" /><!--route rewrite directly to controller::Index-->
    <add key="routes|/test1" value="/Main" /><!--internal route redirect-->
    <!-- db settings, main is default db -->
    <add key="db|main|connection_string" value="Server=localhost;Database=demo;Trusted_Connection=True" />
    <!--add key="db|main|connection_string" value="Server=localhost;Database=demo;User ID=demo;Password=321"/-->
    <add key="db|main|type" value="SQL" />
    <!--add key="db|access|connection_string" value="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\pathto\Northwind.accdb;Persist Security Info=False;"/>
    <add key="db|access|type" value="OLE"/-->
    <add key="support_email" value="support@website.com" />
    <add key="mail_from" value="admin@website.com" />
    <add key="test_email" value="" />
    <add key="pdf_converter" value="C:\Program Files\wkhtmltopdf\bin\wkhtmltopdf.exe" />
    <add key="pdf_converter_args" value="%IN %OUT" />
    <!-- overrides values in appSettings by hostname_match - such value must be present in hostname, add port if more than one localhost developer needed, example localhost:12345 -->
    <!-- developer server -->
    <add key="override|developer|hostname_match" value="localhost" />
    <add key="override|developer|log_level" value="DEBUG" />
    <add key="override|developer|is_test" value="~boolean~True" />
    <add key="override|developer|IS_DEV" value="~boolean~True" />
    <add key="override|developer|db|main|connection_string" value="Server=localhost;Database=demo;Trusted_Connection=True" />
    <!-- test server -->
    <add key="override|test|hostname_match" value="test|beta" />
    <add key="override|test|log_level" value="DEBUG" />
    <add key="override|test|is_test" value="~boolean~False" />
    <add key="override|test|db|main|connection_string" value="Server=(local)\SQLEXPRESS;Database=demo;Trusted_Connection=True" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>